* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}
  
.App {
    background-image: url('./assets/weatherApp.jpg');
    background-size: cover;
}

main {
  min-height: 100vh;
  padding: 50px;
}

Button {
  background-color: rgba(255, 255, 255, .90);
  border-radius: 5px;
  border: none;
  outline: none;
  height: 25px;
  width: 7%;
}

Input {
  background-color: red;
  border: none;
  border-radius: 5px;
  width: 25%;
  height: 35px;
  appearance: none;
  font-size: 15px;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  margin-bottom: 25px;
  padding-left: 5px;
}

Input:focus {
  background-color: rgba(255, 255, 255, 1);
}
